# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# ============================
# Django
# ============================
db.sqlite3
*.log
media/

staticfiles/

# Django secrets
.env

# Migrations cache
*/migrations/__pycache__/

# ============================
# IDE / OS
# ============================
.vscode/
.idea/
.DS_Store
Thumbs.db